APP_NAME=Taily
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://taily.ddev.site:5544
FRONTEND_URL=http://taily.ddev.site:5544

APP_LOCALE=de
APP_FALLBACK_LOCALE=de
APP_FAKER_LOCALE=de_DE

DB_CONNECTION="mysql"
DB_HOST="db"
DB_PORT="3306"
DB_DATABASE="db"
DB_USERNAME="db"
DB_PASSWORD="db"

SESSION_DOMAIN=taily.ddev.site
SANCTUM_STATEFUL_DOMAINS=taily.ddev.site:5544

MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@taily.ddev.site"
MAIL_FROM_NAME="${APP_NAME}"
